{% extends 'base.html' %}
{% load static %}
<html>

<body>


{% block content %}

    <!-- /.menu -->
    <div class="l-header l-bkg-white-100">
      <div class="l-wrap l-dmt">
        <div class="row between-xs middle-xs">
          <div class="col-xs-12 col-sm-8">
            <h1
              style="--highlight-color: var(--bright-blue); --text-color: var(--white); --round-color: var(--electric-green);"
              class="t-cl--black-100 t-fs--xxlarge t-fw--xbui t-ln--small l-hmb t-wbk"
            >
              <span class="t-highlights t-with-round-behind">Boost</span> your e-commerce conversion rates on mobile
            </h1>
            <p class="t-cl--grey t-fs--medium t-ln--base l-mb">
              Once lets you create mobile-optimized storefronts for your e-commerce
            </p>
            <a class="c-form__btn c-form__btn--shadow l-bkg--black-100 t-cl--white-100 t-fs--base t-fw--xbui" href="{% url 'create-story' 1 %}">Start Now!</a>
          </div>

          <div class="col-xs-12 col-sm-4 first-xs last-sm">
            <div class="l-video-wrapper l-bkg--white-100 u-ha">
              <video id="splashscreen-video" src="{% static 'public/videos/homepage/flow.mp4' %}" autoplay muted loop></video>
            </div>
          </div>
        </div>
        <!-- /.row-->

        <div class="row l-dmb">
          <div class="l-icon-wrapper col-xs-12 col-md-4">
            <p class="t-cl--black-100 t-fs--large t-fw--xbui t-ln--base">01.</p>
            <div class="l-icon-section">
              <img class="u-fl l-mr" style="max-width: 60px;" src="{% static 'public/img/i--connect.svg' %}" alt="connect" />
              <p class="t-cl--black-80 t-fs--medium t-ln--base">
                <span class="t-lp"><span class="u-stronger">Connect</span> your favorite e-shop</span>
              </p>
            </div>
          </div>
          <!-- /.col -->

          <div class="l-icon-wrapper col-xs-12 col-md-4">
            <p class="t-cl--black-100 t-fs--large t-fw--xbui t-ln--base">02.</p>
            <div class="l-icon-section">
              <img class="u-fl l-mr" style="max-width: 60px;" src="{% static 'public/img/i--create.svg' %}" alt="create" />
              <p class="t-cl--black-80 t-fs--medium t-ln--base">
                <span class="t-lp"><span class="u-stronger">Create</span> a mobile-first shopping experience in minutes</span>
              </p>
            </div>
          </div>
          <!-- /.col -->

          <div class="l-icon-wrapper col-xs-12 col-md-4">
            <p class="t-cl--black-100 t-fs--large t-fw--xbui t-ln--base">03.</p>
            <div class="l-icon-section">
              <img class="u-fl l-mr" style="max-width: 60px;" src="{% static 'public/img/i--share.svg' %}" alt="share" />
              <p class="t-cl--black-80 t-fs--medium t-ln--base"><span class="u-stronger">Link</span> your experience anywhere and start converting</p>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.header -->

    <!-- Connect Section -->
    <section class="l-item l-item--connect l-bkg--light-grey">
      <div class="l-wrap">
        <div class="row between-xs middle-xs">
          <div class="col-xs-12 col-sm-6">
            <h2 style="--highlight-color: var(--electric-green); --text-color: var(--dark-grey); --round-color: var(--milka-purple);" class="t-cl--black-100 t-fs--xlarge t-fw--xbui t-ln--small l-mb">
              <span class="t-with-round-behind t-highlights">Connect</span> your favorite e-shop, easily.
            </h2>
            <img class="l-integration-logo l-hmr" src="public/img/logo--shopify.svg" style="width: 104px; max-height: 30px;" alt="Shopify Logo" />
            <img class="l-integration-logo l-hmr" src="public/img/logo--woocommerce.svg" style="width: 120px; max-height: 30px;" alt="WooCommerce Logo" />
            <img class="l-integration-logo l-hmr" src="public/img/logo--wix.svg" style="width: 49px; max-height: 30px;" alt="Wix Logo" />
            <img class="l-integration-logo l-hmr" src="public/img/logo--squarespace.svg" style="width: 180px; max-height: 30px;" alt="Squarespace Logo" />
            <p class="t-cl--grey t-fs--medium t-ln--large l-mb l-hmt">We fetch your products automatically, you just have <span class="t-lp">to pick one to get started</span></p>
            <a style="--btn-color: var(--dark-grey); --bckg-color: var(--white);" class="c-form__btn c-form__btn--border t-fs--base t-fw--xbui" href="{% url 'create-story' 1 %}">
              Connect your e-shop
            </a>
          </div>
          <!-- /.col -->

          <div class="first-xs last-sm">
            <img class="u-fw" style="max-width: 500px;" src="{% static 'public/img/connect--visual%402x.png' %}" alt="connect-visual" />
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- l-wrap -->
    </section>
    <!-- /.l-item -->

    <!-- Integration Section -->
    <section class="l-item--integration u-tc">
      <div class="l-wrap">
        <div class="row">
          <div class="col-xs-12 col-sm-12 l-dpt">
            <p class="t-cl--black-100 t-fs--large t-fw--xbui t-ln--large">We integrate with your favorite e-shop</p>
            <p class="t-cl--grey t-fs--medium t-ln--large l-mb">Shopify and more to come</p>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- l-wrap -->
    </section>
    <!-- /.l-item -->

    <!-- Create Section -->
    <section class="l-item l-item--create u-tc">
      <div class="l-wrap">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <h2 style="--highlight-color: var(--milka-purple); --text-color: var(--white); --round-color: var(--deep-yellow);" class="t-cl--white-100 t-fs--xlarge t-fw--xbui t-ln--small l-mb">
              <span class="t-lp"><span class="t-with-round-behind t-highlights">Create</span> a mobile-optimized</span>
              <span class="t-lp">storefront in minutes.</span> No code required.
            </h2>
            <p class="t-cl--white-100 t-fs--medium t-ln--large l-mb">
              Tell the story of your products with a branded shopping journey.
              <span class="t-lp">It's as simple as it gets with our pre-designed blocks.</span>
            </p>
            <a style="--btn-color: var(--white); --bckg-color: var(--dark-grey);" class="c-form__btn c-form__btn--border t-fs--base t-fw--xbui l-mb" href="{% url 'create-story' 1 %}">
              Get Started
            </a>
            <img class="u-fw" src="{% static 'public/img/create--visual%402x.png' %}" alt="" />
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- l-wrap -->
    </section>
    <!-- /.l-item -->

    <!-- Share Section -->
    <section class="l-item l-bkg--white-100">
      <div class="l-wrap">
        <div class="row between-xs middle-xs">
          <div class="col-xs-12 col-sm-7">
            <h2 style="--highlight-color: var(--light-yellow); --text-color: var(--dark-grey); --round-color: var(--deep-yellow);" class="t-cl--black-100 t-fs--xlarge t-fw--xbui t-ln--small l-mb">
              <span class="t-with-round-behind t-highlights">Link</span> your shopping experience to Ads and
              <span class="t-lp">start converting</span>
            </h2>
            <p class="t-cl--grey t-fs--medium t-ln--large l-hmb">
              You can link your shopping experience to any channel:
            </p>

            <div class="u-fb u-ac l-hmb l-img34px">
              <img src="{% static 'public/img/i--ads%402x.svg' %}" class="l-hmr" alt="ads" />
              <p class="t-fs--medium"><span class="u-stronger">Paid</span> or <span class="u-stronger">Organic</span> Ads</p>
            </div>
            <!-- /.icon-list -->

            <div class="u-fb u-ac l-hmb l-img34px">
              <img src="{% static 'public/img/i--organic%402x.svg' %}" class="l-hmr" alt="text-emails" />
              <p class="t-fs--medium"><span class="u-stronger">At swipe up</span> or <span class="u-stronger">in a post</span></p>
            </div>
            <!-- /.icon-list -->

            <div class="u-fb u-ac l-mb l-img34px">
              <img src="{% static 'public/img/i--text-emails%402x.svg' %}" class="l-hmr" alt="text-emails" />
              <p class="t-fs--medium"><span class="u-stronger">In Text Messages</span></p>
            </div>
            <!-- /.icon-list -->

            <a style="--btn-color: var(--dark-grey); --bckg-color: var(--white);" class="c-form__btn c-form__btn--border t-fs--base t-fw--xbui" href="{% url 'create-story' 1 %}">Start Now!</a>
          </div>
          <!-- /.col -->
          <div class="col-xs-12 col-sm-4 first-xs last-sm hide-sm">
            <video class="u-qw u-ha u-fb l-hmb" src="{% static 'public/videos/homepage/phone_flow.mp4' %}" autoplay muted loop></video>
          </div>
          <!-- /.col -->

          <div class="first-xs last-sm hide show-sm l-dmb">
            <img class="u-fw" style="max-width: 500px;" src="{% static 'public/img/share--visual-mobile%402x.png' %}" alt="connect-visual" />
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- l-wrap -->
    </section>
    <!-- /.l-item -->

    <!-- Beta Love Section Bis -->
    <section class="l-item l-bkg--light-grey u-tc">
      <div class="l-wrap">
        <h2 class="t-cl--black-100 t-fs--xlarge t-fw--xbui t-ln--small l-dmb l-img34px">
          <span class="t-lp">Our users got</span> really creative
          <img src="{% static 'public/img/beta-love.svg' %}" alt="Beta Users Love" />
        </h2>

        <div class="l-beta-story-wrapper-bis">
          <div class="l-beta-story-cover">
            <a href="{% url 'create-story' 1 %}" target="_blank" rel="noopener noreferrer">
              <div class="l-play-button">
                <img src="{% static 'public/img/i--play.svg' %}" alt="Play Button" />
              </div>
              <!-- .play-button -->
              <img class="u-fw" src="{% static 'public/img/beta-cover--joone%402x.png' %}" alt="Joone Paris Mobile E-Shop" />
            </a>
          </div>
          <!-- /.cover-->
          <img class="l-beta-logo l-hmt l-hmb" src="public/img/beta-logo--joone%402x.png" alt="Joone Paris Logo" />
        </div>
        <!-- /.wrapper-->

        <div class="l-beta-story-wrapper-bis">
          <div class="l-beta-story-cover">
            <a href="{% url 'create-story' 1 %}" target="_blank" rel="noopener noreferrer">
              <div class="l-play-button">
                <img src="{% static 'public/img/i--play.svg' %}" alt="Play Button" />
              </div>
              <!-- .play-button -->
              <img class="u-fw" src="{% static 'public/img/beta-cover--flair%402x.png' %}" alt="Flair Is French Mobile E-Shop" />
            </a>
          </div>
          <!-- /.cover-->
          <img class="l-beta-logo l-hmt l-hmb" src="{% static 'public/img/beta-logo--flair%402x.png' %}" alt="Flair Is French Logo" />
        </div>
        <!-- /.wrapper-->

        <div class="l-beta-story-wrapper-bis">
          <div class="u-fw l-beta-story-cover">
            <a href="{% url 'create-story' 1 %}" target="_blank" rel="noopener noreferrer">
              <div class="l-play-button">
                <img src="{% static 'public/img/i--play.svg' %}" alt="Play Button" />
              </div>
              <!-- .play-button -->
              <img class="u-fw" src="{% static 'public/img/beta-cover--respire%402x.png' %}" alt="Respire Mobile E-Shop" />
            </a>
          </div>
          <!-- /.cover-->
          <img class="l-beta-logo l-hmt l-hmb" src="{% static 'public/img/beta-logo--respire.svg' %}" alt="Respire Logo" />
        </div>
        <!-- /.wrapper-->

        <div class="l-beta-story-wrapper-bis">
          <div class="l-beta-story-cover">
            <a href="{% url 'create-story' 1 %}" target="_blank" rel="noopener noreferrer">
              <div class="l-play-button">
                <img src="{% static 'public/img/i--play.svg' %}" alt="Play Button" />
              </div>
              <!-- .play-button -->
              <img class="u-fw" src="{% static 'public/img/beta-cover--myjoliecandle%402x.png' %}" alt="My Jolie Candle Mobile E-Shop" />
            </a>
          </div>
          <!-- /.cover-->
          <img class="l-beta-logo l-hmt l-hmb" src="{% static 'public/img/beta-logo--myjoliecandle.svg' %}" alt="My Jolie Candle Logo" />
        </div>
        <!-- /.wrapper-->
      </div>
      <!-- /.row -->
    </section>

    <!-- End Section -->
    <section id="pricing" class="l-item l-item--bdrb l-bkg--white-100 u-tc">
      <div class="l-wrap">
        <h2 style="--highlight-color: var(--bright-blue); --text-color: var(--white); --round-color: var(--electric-green);" class="t-cl--black-100 t-fs--xlarge t-fw--xbui t-ln--small l-hmb">
          <span class="t-highlights">Boost</span> your sales, now.
        </h2>
        <p class="t-cl--grey t-fs--medium t-ln--base l-mb l-mb">
          Once lets you create mobile-optimized storefronts for your e-commerce.
        </p>

        <div class="row">
          <div class="col-xs-12 col-sm-4 l-pricing-wrapper" style="margin-right: 30px;">
            <img class="l-hmb" style="max-width: 60px;" src="{% static 'public/img/i--explore%402x.svg' %}" alt="explore" />
            <p class="t-cl--black-100 t-fs--large t-fw--xbui t-ln--base"><span class="t-highlights">Discover</span></p>
            <p class="t-cl--black-100 t-fs--medium t-ln--base l-hmb">Start Exploring the Editor</p>
            <a style="--btn-color: var(--dark-grey); --bckg-color: var(--white);" class="c-form__btn c-form__btn--border t-fs--base t-fw--xbui" href="{% url 'create-story' 1 %}">
              Start Now!
            </a>
          </div>
          <!-- /.col -->

          <div class="col-xs-12 col-sm-4 l-pricing-wrapper l-bkg--black-100 first-xs last-sm" style="margin-left: 30px;">
            <img class="l-hmb" style="max-width: 60px;" src="{% static 'public/img/i--start-selling.svg' %}" alt="start-selling" />
            <p class="t-cl--black-100 t-fs--large t-fw--xbui t-ln--base" style="--highlight-color: var(--bright-blue); --text-color: var(--white); --round-color: var(--milka-purple);">
              <span class="t-highlights">Start Selling</span>
            </p>
            <p class="t-cl--white-100 t-fs--medium t-ln--base l-hmb"><span class="u-stronger"> 30$</span>/month • <span class="u-stronger">2%</span> fee per transaction</p>
            <a style="--btn-color: var(--white); --bckg-color: var(--dark-grey);" class="c-form__btn c-form__btn--border t-fs--base t-fw--xbui" href="{% url 'create-story' 1 %}">
              Connect your e-shop
            </a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- l-wrap -->
    </section>
    <!-- /.l-item -->
{% endblock %}
   
  </body>

<!-- Mirrored from www.once.app/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Oct 2020 13:04:09 GMT -->
</html>
