{% load static %}
<html class="no-js" lang="zxx">
<head>
    <title>Once | Create story</title>
    <meta name="theme-color" content="#141e30"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/emojionearea.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
            integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
			crossorigin="anonymous"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emojionearea.min.js' %}"></script>
    <style>
        .resizeXbtn{
            visibility: hidden;
            display: none;
            opacity: 0;
            width: 0;
            height: 0;
            position: absolute;
        }
        .editableContainerAbsoluteContainer{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .editable-container{
            position: relative;
            z-index: 5;
            border: none;
            transition: all 0.2s ease;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .clickmebtn{
			width: 100%;
			height: 50px;
			background: dodgerblue;
			border-radius: 25px;
			text-align: center;
			color: white;
			font-weight: bold;
			line-height: 50px;
            cursor: pointer;
		}

        .clickmebtn a, .clickmebtn a:hover{
            text-decoration: none;
        }

		.engage-card{
			background: white;
			border-radius: 10px;
		}

		.card-choice, .card-range-bar{
			background: lightgrey;
			border-radius: 3px;
			height: 30px;
		}
		.card-choice.checked{
		    background: dodgerblue;
		}

		.card-choice-seq, .card-choice-check{
			background: white;
			height: 20px;
			width: 20px;
			border-radius: 50px;
			line-height: 20px;
			text-align: center;
			font-weight: bold;
		}

		.card-choice-check{
			border-radius: 2px;
		}



		.nav-yesno-answers{
			width: 100%;
			height: 60px;
			border-radius: 20px;
			background: white;
		}

		.nav-yesno-answers .nav-item{
			background: white;
			border: 1px solid grey;
			text-align: center;
			padding-top: 10px;
		}
		.nav-yesno-answers .nav-item:hover, .nav-yesno-answers .nav-item.checked{
		    background: #f4f4f4;
		}
		.nav-yesno-answers .nav-item:first-child{
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
		}
		.nav-yesno-answers .nav-item:nth-child(2){
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}


		.card-range-bar{
			height: 5px;
		}


		.hour-number-card{
			height: 40px;
			background: dodgerblue;
			border-radius: 3px;
			line-height: 40px;
			color: white;
			text-align: center;
			font-weight: bold;
		}

        .card{
            height: 100%;
        }
        .v-center{
            display: table-cell;
            vertical-align: middle;
        }
        .text-bg{
            background: violet;
        }
        .text-underlined{
            background: rgba(0, 0, 0, 0) linear-gradient(transparent 50%, rgb(182, 87, 108) 50%) repeat scroll 0% 0%;
        }
        .text-stroke{
            color: white;
            text-shadow: -1px -1px 0 grey, -1px 1px 0 grey, 1px -1px 0 grey, 1px 1px 0 grey;
        }
        .text-left-bordered{
            border-left: 2px solid #ffc107;
        }
        .specialTextColor{
            color: #ffc107;
        }
        .text-royal, .text-royal:hover{
            color: #323b51;
        }
        .btn-fancy{
            border-radius: 25px;
            width: 100px;
        }
        .dropdown-fancy.nav-link{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            overflow: hidden;
            background: #323b51;
            color: white;
            font-weight: bold;
            text-align: center;
            line-height: 33px;
            box-shadow: 0px 0px 10px rgba(50, 59, 81, 0.5);
        }
        .half-bordered{
            border-right: 1px solid #323b51;
            border-left: 1px solid #323b51;
            height: max-content;
        }
        .bold{
            font-weight: bold;
        }
        .max-content{
            width: max-content;
        }
        .bg-royal{
            background: #323b51;
            color: white;
        }
        .bg-light-royal{
            background: #415586;
        }
        .image-fluid{
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
        }
        html{
            scroll-behavior: smooth;
        }
        body{
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            overflow-x: hidden;
            background: rgb(3,9,11);
        }
        .section{
            padding: 30px;
        }

        .contentcard{
            width: 100%;
            height: 100%;
        }
        .innerStoryCard{
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
        .productBuyCard{
            width: 90%;
            height: auto;
            margin: auto;
        }
        .productBuyCard .card-body{
            border-top-left-radius: 15px;
            box-shadow: 0px 0px 10px gray;
            border-top-right-radius: 15px;
        }
        .hiddenInput, .hiddenInput:focus{
            background: transparent;
            border: none;
            outline: none;
            text-align: center;
            width: 100%;
        }
        .changeQuantityBtn{
            width: 100%;
            height: 30px;
            border: 2px solid #333;
            border-radius: 25px;
            display: inline-block;
        }



        .swiper-container {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 310px;
            height: 510px;
        }

        .rangeSlider, .rangeSlider:focus{
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;

        }
		.rangeSlider::-webkit-slider-thumb {
            width: 20px;
            width: 20px;
            height: 50px;
            border: none;
            background: url('https://cdn.jsdelivr.net/emojione/assets/3.1/png/32/1f918.png');
		    background-repeat: no-repeat;
		    background-position: center;
        }

        .rangeSlider::-moz-range-thumb {
            width: 20px;
            width: 20px;
            height: 50px;
            border: none;
            background: url('https://cdn.jsdelivr.net/emojione/assets/3.1/png/32/1f918.png');
		    background-repeat: no-repeat;
		    background-position: center;
		}

    </style>
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for story in stories %}
                <div class="swiper-slide">
                    <div id="story_{{story.id}}" class="contentcard">
                        <div class="innerStoryCard" style="position: relative; overflow:hidden; background: {{story.background}};">
                            {% for component in story.components.all %}
                            <div class="editableContainerAbsoluteContainer">
                                <div id="{{component.type}}_{{component.id}}" style="width: {{component.width}}; height: {{component.height}}; top: {{component.top}}; left: {{component.left}}; transform: translate(-50%, -50%) rotate({{component.rotation}});" class="editable-container">
                                    {% if component.type == 'image' %}
                                        <img class="image-fluid" src="{{component.image.url}}" alt="">
                                    {% elif component.type == 'text' or component.type == 'block' %}
                                        {% autoescape off %}
                                            {{component.html}}
                                        {% endautoescape %}
                                    {% elif component.type == 'range' %}
                                        <div style="background: {{component.background}};" class="engage-card p-3">
                                            <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                            <input onchange="setRange(this)" class="rangeSlider" type="range">
                                        </div>
                                    {% elif component.type == 'yesNo' %}
                                        <div class="p-3">
                                            <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                            <div style="background: {{component.background}}" class="nav nav-yesno-answers d-flex m-1 p-2">
                                                <li class="yesNoAns yesAnswer nav-item col-6 text-info bold">Yes</li>
                                                <li class="yesNoAns noAnswer nav-item col-6 text-danger bold">No</li>
                                            </div>
                                        </div>
                                    {% elif component.type == 'timer' %}
                                        <div style="background: {{component.background}};" class="engage-card p-3">
                                            <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                            <div class="row justify-content-between timer-card">
                                                <div class="col-3" style="padding: 0;">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="col-6 p-1">
                                                            <h6 class="hour-number-card">{{component.getD1}}</h6>
                                                        </div>
                                                        <div class="col-6 p-1">
                                                            <h6 class="hour-number-card">{{component.getD2}}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <small class="text-muted">Days</small>
                                                    </div>
                                                </div>
                                                <div class="col-3" style="padding: 0;">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="col-6 p-1">
                                                            <h6 class="hour-number-card">{{component.getH1}}</h6>
                                                        </div>
                                                        <div class="col-6 p-1">
                                                            <h6 class="hour-number-card">{{component.getH2}}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <small class="text-muted">Hours</small>
                                                    </div>
                                                </div>
                                                <div class="col-3" style="padding: 0;">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="col-6 p-1">
                                                            <h6 class="hour-number-card">{{component.getM1}}</h6>
                                                        </div>
                                                        <div class="col-6 p-1">
                                                            <h6 class="hour-number-card">{{component.getM2}}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <small class="text-muted">Minutes</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif component.type == 'button' %}
                                        <div style="cursor: pointer; background: {{component.background}}; color: {{component.color}};" class="clickmebtn includeText">
                                        <a {% if component.target == "blank" %}target="blank"{%endif%} href="{{component.href}}" style="display: block color: {{component.color}};">{{component.title}}</a>

                                        </div>
                                    {% elif component.type == 'emoji' %}
                                        <img class="emojioneemoji" src="{{component.src}}" alt="">
                                    {% elif component.type == 'sticker' or component.type == 'gif' %}
                                        <figure>
                                            <img class="image-fluid" src="{{component.src}}" alt="">
                                        </figure>
                                    {% elif component.type == 'unsalpsh' %}
                                        <img class="image-fluid" src="{{component.src}}" alt="">
                                    {% elif component.type == 'check' %}
                                        <div style="background: {{component.background}};" class="engage-card check-card p-3">
                                            <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                            <div class="choices">
                                                {% for choice in component.choices.all %}
                                                    <div id="choice_{{choice.id}}" class="card-choice d-flex justify-content-between pr-2 m-1">
                                                        <div class="d-flex">
                                                            <div class="card-choice-check m-1"></div>
                                                            <div class="card-choice-title m-1 includeText">{{choice.title}}</div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% elif component.type == 'radio' %}
                                        <div style="background: {{component.background}};" class="engage-card radio-card p-3">
                                            <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                            <div class="choices">
                                                {% for choice in component.choices.all %}
                                                    <div id="choice_{{choice.id}}" class="card-choice d-flex justify-content-between pr-2 m-1">
                                                        <div class="d-flex">
                                                            <div class="card-choice-seq m-1">{{forloop.counter}}</div>
                                                            <div class="card-choice-title m-1 includeText">{{choice.title}}</div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if checkoutStory %}
                {% for story in checkoutStory %}
                    <div class="swiper-slide">
                        <div id="story_{{story.id}}" class="contentcard">
                            <div class="innerStoryCard" style="position: relative; overflow:hidden; background: {{story.background}}">

                                {% for component in story.components.all %}
                                    <div class="editableContainerAbsoluteContainer">
                                        <div id="{{component.type}}_{{component.id}}" style="width: {{component.width}}; height: {{component.height}}; top: {{component.top}}; left: {{component.left}}; transform: translate(-50%, -50%) rotate({{component.rotation}});" class="editable-container">
                                            {% if component.type == 'image' %}
                                                <img class="image-fluid" src="{{component.image.url}}" alt="">
                                            {% elif component.type == 'text' or component.type == 'block' %}
                                                {% autoescape off %}
                                                    {{component.html}}
                                                {% endautoescape %}
                                            {% elif component.type == 'range' %}
                                                <div style="background: {{component.background}};" class="engage-card p-3">
                                                    <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                                    <input onchange="setRange(this)" class="rangeSlider" type="range">
                                                </div>
                                            {% elif component.type == 'yesNo' %}
                                                <div class="p-3">
                                                    <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                                    <div style="background: {{component.background}}" class="nav nav-yesno-answers d-flex m-1 p-2">
                                                        <li class="yesNoAns yesAnswer nav-item col-6 text-info bold">Yes</li>
                                                        <li class="yesNoAns noAnswer nav-item col-6 text-danger bold">No</li>
                                                    </div>
                                                </div>
                                            {% elif component.type == 'timer' %}
                                                <div style="background: {{component.background}};" class="engage-card p-3">
                                                    <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                                    <div class="row justify-content-between timer-card">
                                                        <div class="col-3" style="padding: 0;">
                                                            <div class="d-flex justify-content-center">
                                                                <div class="col-6 p-1">
                                                                    <h6 class="hour-number-card">{{component.getD1}}</h6>
                                                                </div>
                                                                <div class="col-6 p-1">
                                                                    <h6 class="hour-number-card">{{component.getD2}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <small class="text-muted">Days</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-3" style="padding: 0;">
                                                            <div class="d-flex justify-content-center">
                                                                <div class="col-6 p-1">
                                                                    <h6 class="hour-number-card">{{component.getH1}}</h6>
                                                                </div>
                                                                <div class="col-6 p-1">
                                                                    <h6 class="hour-number-card">{{component.getH2}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <small class="text-muted">Hours</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-3" style="padding: 0;">
                                                            <div class="d-flex justify-content-center">
                                                                <div class="col-6 p-1">
                                                                    <h6 class="hour-number-card">{{component.getM1}}</h6>
                                                                </div>
                                                                <div class="col-6 p-1">
                                                                    <h6 class="hour-number-card">{{component.getM2}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <small class="text-muted">Minutes</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elif component.type == 'button' %}
                                                <div style="cursor: pointer; background: {{component.background}}; color: {{component.color}};" class="clickmebtn includeText">
                                                <a {% if component.target == "blank" %}target="blank"{%endif%} href="{{component.href}}" style="display: block color: {{component.color}};">{{component.title}}</a>

                                                </div>
                                            {% elif component.type == 'emoji' %}
                                                <img class="emojioneemoji" src="{{component.src}}" alt="">
                                            {% elif component.type == 'sticker' or component.type == 'gif' %}
                                                <figure>
                                                    <img class="image-fluid" src="{{component.src}}" alt="">
                                                </figure>
                                            {% elif component.type == 'unsalpsh' %}
                                                <img class="image-fluid" src="{{component.src}}" alt="">
                                            {% elif component.type == 'check' %}
                                                <div style="background: {{component.background}};" class="engage-card check-card p-3">
                                                    <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                                    <div class="choices">
                                                        {% for choice in component.choices.all %}
                                                            <div id="choice_{{choice.id}}" class="card-choice d-flex justify-content-between pr-2 m-1">
                                                                <div class="d-flex">
                                                                    <div class="card-choice-check m-1"></div>
                                                                    <div class="card-choice-title m-1 includeText">{{choice.title}}</div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% elif component.type == 'radio' %}
                                                <div style="background: {{component.background}};" class="engage-card radio-card p-3">
                                                    <h6 style="color: {{component.color}};" class="text-center bold includeText">{{component.title}}</h6>
                                                    <div class="choices">
                                                        {% for choice in component.choices.all %}
                                                            <div id="choice_{{choice.id}}" class="card-choice d-flex justify-content-between pr-2 m-1">
                                                                <div class="d-flex">
                                                                    <div class="card-choice-seq m-1">{{forloop.counter}}</div>
                                                                    <div class="card-choice-title m-1 includeText">{{choice.title}}</div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="editableContainerAbsoluteContainer" style="padding: 3px; padding-top: 100px; overflow: hidden; z-index: 10;">
                                    <div class="card productBuyCard">
                                        <ul class="nav" role="tablist" style="visibility: hidden;">
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link active" id="productQuantityFormToggler" href="#productQuantityForm"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" id="personalInfoFormToggler" href="#personalInfoForm"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" id="shippingLocationFormToggler" href="#shippingLocationForm"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" id="productPaymentFormToggler" href="#productPaymentForm"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" id="WaitingResponseCardToggler" href="#WaitingResponseCard"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" id="checkoutSuccessResponseCardToggler" href="#checkoutSuccessResponseCard"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" id="checkoutFailedResponseCardToggler" href="#checkoutFailedResponseCard"></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="productQuantityForm" class="tab-pane active">
                                                <div class="card-image-top" style="width: 100%; height: 100px;">
                                                    <img class="image-fluid" src="{{storySet.src}}">
                                                </div>
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <h5 class="text-dark" style="font-weight: bold;">{{storySet.title}}</h5>
                                                        <h5 class="text-dark" style="font-weight: bold;">{{storySet.price}}$</h5>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="col-4 text-center">
                                                            <a onclick="changeQuantity('minus')" class="changeQuantityBtn">-</a>
                                                        </div>
                                                        <div class="col-4">
                                                            <input class="hiddenInput disabled" type="text" name="quantity" id="quantity" value="1">
                                                        </div>
                                                        <div class="col-4 text-center">
                                                            <a onclick="changeQuantity('plus')" class="changeQuantityBtn">+</a>
                                                        </div>
                                                    </div>
                                                    <div style="width: 100%; margin-top: 10px;">
                                                        <button onclick="$('#personalInfoFormToggler').click()" class="text-center text-white" style="background: dodgerblue; width: 100%; height: 40px; border: none; border-radius: 5px;">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="personalInfoForm" class="tab-pane fade show">
                                                <a class="nav-link text-info" onclick="$('#productQuantityFormToggler').click()"><i class="fas fa-arrow-left"></i></a>
                                                <div class="p-2">
                                                    <h3 class="text-dark" style="font-weight: bold">
                                                        <i class="fas fa-user text-info"></i> Personal Info.
                                                    </h3>
                                                </div>
                                                <div class="personalInfoForm bg-light p-2" style="border-radius: 5px;">
                                                    <div class="row justify-content-between" style="width: 100%; margin: auto; padding: 0;">
                                                        <div class="col-6 p-2">
                                                            <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name">
                                                        </div>
                                                        <div class="col-6 p-2">
                                                            <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                                    </div>
                                                    <div class="p-2">
                                                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number">
                                                    </div>
                                                    <div style="width: 100%; margin-top: 10px;">
                                                        <button onclick="$('#shippingLocationFormToggler').click()" class="text-center text-white" style="background: dodgerblue; width: 100%; height: 40px; border: none; border-radius: 5px;">Next, Delivery Infos</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="shippingLocationForm" class="tab-pane fade show">
                                                <a class="nav-link text-info" onclick="$('#personalInfoFormToggler').click()"><i class="fas fa-arrow-left"></i></a>
                                                <div class="p-2">
                                                    <h3 class="text-dark" style="font-weight: bold">
                                                        <i class="fas fa-map-marker-alt text-info"></i> Delivery Info.
                                                    </h3>
                                                </div>
                                                <div class="personalInfoForm bg-light p-2" style="border-radius: 5px;">
                                                    <div class="p-2">
                                                        <input type="text" class="form-control" name="addressLine1" id="addressLine1" placeholder="Address Line 1">
                                                    </div>
                                                    <div class="p-2">
                                                        <input type="text" class="form-control" name="addressLine2" id="addressLine2" placeholder="Address Line 2">
                                                    </div>
                                                    <div class="row justify-content-between" style="width: 100%; margin: auto; padding: 0;">
                                                        <div class="col-4 p-2">
                                                            <input type="text" class="form-control" name="city" id="city" placeholder="City">
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <input type="text" class="form-control" name="state" id="state" placeholder="State">
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <input type="text" class="form-control" name="postal" id="postal" placeholder="Postal Code">
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <input type="text" class="form-control" name="country" id="country" placeholder="Country">
                                                    </div>
                                                    
                                                    <div style="width: 100%; margin-top: 10px;">
                                                        <button onclick="$('#productPaymentFormToggler').click()" class="text-center text-white" style="background: dodgerblue; width: 100%; height: 40px; border: none; border-radius: 5px;">Next, Payment</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="productPaymentForm" class="tab-pane fade show">
                                                <a class="nav-link text-info" onclick="$('#shippingLocationFormToggler').click()"><i class="fas fa-arrow-left"></i></a>
                                                <div class="p-2">
                                                    <h3 class="text-dark" style="font-weight: bold">
                                                        <i class="fas fa-credit-card text-info"></i> Payment.
                                                    </h3>
                                                </div>
                                                <div class="pt-2 pb-2">
                                                    <div class="d-flex justify-content-between shopProduct">
                                                        <div class="d-table" style="width: 50px; height: 50px; border-radius: 5px;">
                                                            <img src="{{storySet.src}}" class="image-fluid">
                                                        </div>
                                                        <div class="d-block pt-2" style="height: 50px; width: 160px;">
                                                            <div style="font-size:10px" class="text-dark bold">{{storySet.title}}</div>
                                                            <small style="font-size:10px" class="text-dark bold">Quantity: <span class="changableQuantity">1</span></small>
                                                        </div>
                                                        <div class="d-table" style="height: 50px;">
                                                            <h6 class="v-center text-muted">{{storySet.price}} <i class="fas fa-dollar-sign"></i></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="personalInfoForm bg-light p-2" style="border-radius: 5px;">
                                                    <div class="p-2">
                                                        <input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="Card Number">
                                                    </div>
                                                    
                                                    <div class="p-2">
                                                        <input type="text" class="form-control" name="cardHolderName" id="cardHolderName" placeholder="Card Holder Name">
                                                    </div>
                                                    
                                                    <div class="row justify-content-between" style="width: 100%; margin: auto; padding: 0;">
                                                        <div class="col-8 p-2">
                                                            <input type="rel" class="form-control" name="expiryDate" id="expiryDate" placeholder="Expiry Date (MM/YYYY)">
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <input type="text" class="form-control" name="securityCode" id="securityCode" placeholder="Security Code">
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    <div style="width: 100%; margin-top: 10px;">
                                                        <button onclick="performCheckout()" class="text-center text-white" style="background: dodgerblue; width: 100%; height: 40px; border: none; border-radius: 5px;">Pay <span class="changablePrice">{{storySet.price}}</span>$</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="WaitingResponseCard" class="tab-pane fade show">
                                                <div style="height: 100px; text-align: center; padding-top: 20px;">
                                                    <div class="spinner-border text-info" role="status"></div>
                                                </div>
                                            </div>
                                            <div id="checkoutSuccessResponseCard" class="tab-pane fade show">
                                                <div style="width: 100%; height: 200px; background: url({% static 'img/successBg.png' %}); background-repeat: no-repeat; background-size: cover; background-position: center;">
                                                    <h1 class="text-center mt-3 text-success bold">Done successfully</h1>
                                                </div>
                                            </div>
                                            <div id="checkoutFailedResponseCard" class="tab-pane fade show">
                                                <div style="width: 100%; height: 200px;">
                                                    <a class="nav-link text-info" onclick="$('#productQuantityFormToggler').click()"><i class="fas fa-arrow-left"></i></a>
                                                    <h1 class="text-center mt-3 text-danger bold">Something went wrong !!</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</body>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: false,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false,
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'progressbar',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });






    function changeQuantity(type){
        if(type == "minus"){
            var quantity = Number($("#quantity").val());
            if(quantity > 1){
                quantity -= 1;
                $("#quantity").val(quantity);
            }
        }
        else{
            var quantity = Number($("#quantity").val());
            quantity += 1;
            $("#quantity").val(quantity);
        }
        $(".changablePrice").text(Number("{{storySet.price}}")*quantity);
        $(".changableQuantity").text(quantity);
    }



    $(document).on('click', '.card-choice', function(){
        if($(this).closest('.engage-card').hasClass('check-card')){
            if($(this).hasClass('checked')){
                $(this).removeClass('checked');
                var id = $(this).attr('id').split("_")[1];
                removeCheckRadio(id);
            }
            else{
                $(this).addClass('checked');
                var id = $(this).attr('id').split("_")[1];
                addCheckRadio(id);
            }
        }
        else if($(this).closest('.engage-card').hasClass('radio-card')){
            if($(this).hasClass('checked')){
                null;
            }
            else{
                if($(".card-choice.checked").length > 0){
                    var id = $(".card-choice.checked").attr('id').split("_")[1];
                    removeCheckRadio(id);
                    id = $(this).attr('id').split("_")[1];
                    addCheckRadio(id);
                    $(".card-choice.checked").removeClass('checked');
                    $(this).addClass('checked');
                }
                else{
                    id = $(this).attr('id').split("_")[1];
                    addCheckRadio(id);
                    $(this).addClass('checked');
                }
            }
        }
    });



    

    $(document).on('click', '.yesNoAns', function(){
        if($(this).hasClass('checked')){
            null;
        }
        else{
            if($(".yesNoAns.checked").length > 0){
                var id = $(".editable-container").attr('id').split("_")[1];
                if($(this).hasClass('yesAnswer')){
                    var answer = "no";
                }
                else{
                    var answer = "yes";
                }
                removeYesNoAns(id, answer);
                $(".yesNoAns.checked").removeClass('checked');
                $(this).addClass('checked');
                if(answer == "yes"){answer = "no";}
                else{answer = "yes";}
                addYesNoAns(id, answer);
            }
            else{
                var id = $(".editable-container").attr('id').split("_")[1];
                if($(this).hasClass('yesAnswer')){
                    var answer = "yes";
                }
                else{
                    var answer = "no";
                }
                addYesNoAns(id, answer);
                $(this).addClass('checked');
            }
        }
    });


    function removeYesNoAns(id, answer){
        $.ajax({
            type: "GET",
            url: "/removeYesNoAns/"+id+"/"+answer+"/",
            data: null,
            contentType: false,
            processData: false,
            success: function(result) {
                null;
            }
        });
    }

    function addYesNoAns(id, answer){
        $.ajax({
            type: "GET",
            url: "/addYesNoAns/"+id+"/"+answer+"/",
            data: null,
            contentType: false,
            processData: false,
            success: function(result) {
                null;
            }
        });
    }


    function addCheckRadio(id){
        $.ajax({
            type: "GET",
            url: "/addCheckRadio/"+id+"/",
            data: null,
            contentType: false,
            processData: false,
            success: function(result) {
                null;
            }
        });
    }

    function removeCheckRadio(id){
        $.ajax({
            type: "GET",
            url: "/removeCheckRadio/"+id+"/",
            data: null,
            contentType: false,
            processData: false,
            success: function(result) {
                null;
            }
        });
    }

    var rangeValue = 0;

    

    function setRange(obj){
        var id = $(obj).closest('.editable-container').attr('id').split('_')[1];
        var newRangeValue = $(obj).val();
        console.log(rangeValue);
        console.log(newRangeValue);
        $.ajax({
            type: "GET",
            url: "/setRange/"+id+"/"+rangeValue+"/"+newRangeValue+"/",
            data: null,
            contentType: false,
            processData: false,
            success: function(result) {
                null;
            }
        });
        rangeValue = newRangeValue;
    }

    function performCheckout(){
        if ($("#fname").val() == '' || $("#lname").val() == '' || $("#email").val() == '' || $("#phone").val() == ''){
            $("#personalInfoFormToggler").click();
            $(".form-control").each(function(){
                if($(this).val() == ''){
                    $(this).css('border-color','red');
                }
            });
        }
        else if($("#addressLine1").val() == '' || $("#addressLine2").val() == '' || $("#city").val() == '' || $("#state").val() == '' || $("#country").val() == '' || $("#postal").val() == ''){
            $("#shippingLocationFormToggler").click();
            $(".form-control").each(function(){
                if($(this).val() == ''){
                    $(this).css('border-color','red');
                }
            });
        }
        else if($("#cardNumber").val() == '' || $("#cardHolderName").val() == '' || $("#expiryDate").val() == '' || $("#securityCode").val() == ''){
            $("#productPaymentFormToggler").click();
            $(".form-control").each(function(){
                if($(this).val() == ''){
                    $(this).css('border-color','red');
                }
                else{
                    $(this).css('border-color','grey');
                }
            });
        }
        else{
            $("#WaitingResponseCardToggler").click();
            $.ajax({
                type: "POST",
                url: "/performCheckout/",
                data: {
                    "quantity": $("#quantity").val(),
                    "fname": $("#fname").val(),
                    "lname": $("#lname").val(),
                    "email": $("#email").val(),
                    "phone": $("#phone").val(),
                    "addressLine1": $("#addressLine1").val(),
                    "addressLine2": $("#addressLine2").val(),
                    "city": $("#city").val(),
                    "state": $("#state").val(),
                    "country": $("#country").val(),
                    "postal": $("#postal").val(),
                    "cardNumber": $("#cardNumber").val(),
                    "cardHolderName": $("#cardHolderName").val(),
                    "expiryDate": $("#expiryDate").val(),
                    "securityCode": $("#securityCode").val(),
                    "storySet": "{{storySet.id}}",
                },
                success: function(result) {
                    if(result == "done"){
                        $("#checkoutSuccessResponseCardToggler").click();
                    }
                    else{
                        $("#checkoutFailedResponseCardToggler").click();
                    }
                }
            });
        }
    }









    var x = setInterval(adjustTimer,60000);

    function adjustTimer(){
        $(".timer-card").each(function(){
            var d1 = $(this).find('.hour-number-card')[0];
            var d2 = $(this).find('.hour-number-card')[1];
            var h1 = $(this).find('.hour-number-card')[2];
            var h2 = $(this).find('.hour-number-card')[3];
            var m1 = $(this).find('.hour-number-card')[4];
            var m2 = $(this).find('.hour-number-card')[5];

            if (Number(m2.textContent) > 0){
                m2.textContent = Number(m2.textContent) - 1;
            }
            else if(Number(m2.textContent) == 0){
                if(Number(m1.textContent) > 0){
                    m2.textContent = 9;
                    m1.textContent = Number(m1.textContent) - 1;
                }
                else if(Number(m1.textContent) == 0){
                    m2.textContent = 9;
                    m1.textContent = 5;
                    if(Number(h2.textContent) > 0){
                        h2.textContent = Number(h2.textContent) - 1;
                    }
                    else if(Number(h2.textContent) == 0){
                        if(Number(h1.textContent) > 0){
                            h2.textContent = 9;
                            h1.textContent = Number(h1.textContent) - 1;
                        }
                        else if(Number(h1.textContent) == 0){
                            h2.textContent = 4;
                            h1.textContent = 2;
                            if(Number(d2.textContent) > 0){
                                d2.textContent = Number(d2.textContent) - 1;
                            }
                            else if(Number(d2.textContent) == 0){
                                if(Number(d1.textContent) > 0){
                                    d2.textContent = 9;
                                    d1.textContent = Number(d1.textContent) - 1;
                                }
                            }
                        }
                    }
                }
            }

        });
    }



</script>
</html>